@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/rubik-regular.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/raleway-bold.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/rubik-bold.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/rubik-bold.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #ffffff;
}
.page-header {
    color: #000000;
    background-color: #FFE17F; 
    width: 1160px;
    margin: 0 auto;
}
.search {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #000000;
    background-color: #FFE17F;
    opacity: 0.3;
}
.page-heder-top {
    display: flex;
    width: 1075px;
    margin: 0 auto;
    justify-content: space-around;
}
.custom-menu-list {
    display: flex;
    justify-content: space-around;
    width: 420px;
}
.custom-menu-link {
    font-family:"rubik", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #000000;
    background-color: #FFE17F;
    text-decoration: none;
}
.navigation-list {
    display: flex;
    justify-content: space-around;
    width: 1041px;
    margin: 0 auto;
}
.navigation-link {
    font-family: "raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    color: #000000;
    background-color: #FFE17F;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.main-container {
    flex-grow: 1;
}
.page-container {
    width: 1160px;
    margin: 0 auto;
}
.slider-item {
    display: none;
}
.slider-item.active {
    display: flex;
    justify-content: space-between; 
}
.slider-image {
    width: 560px;
}
.slider-title {
    font-family: "releway" sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}
.slider-description {
    font-family: "rubik" sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}
.slider-info {
    font-family: "releway" sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
.slider-title.slider-description.slider-info div {
    display: flex;
    flex-direction: column;
}
.slider-characteristics {
    font-size: 36px;
    line-height: 30px;
}
.slider-characteristics span {
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}
.categories-link {
    font-family: "raleway",sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-decoration: none;
    color: #000000;
    letter-spacing: -0.02em;
}
.categories-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 1160px;
}
.advantages {
    display: flex;
    justify-content: space-around;
}
.advantages-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.advantages-content {
    display: flex;
    flex-direction: column;
}
.advantages-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    text-transform: uppercase;

}
.advantages-title {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}
.advantages-text {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}
.thin {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #F0F0F0;
    width: 1160px;
}
.info-block {
    display: flex;
    justify-content: space-around;
}
.about-title {
    font-family: "ralewayl", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}
.about-text {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}
.companies-name {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}
.about-more {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
.contacts-title {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}
.contacts-text {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}
.contacts-address-title {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
}
.contacts-address {
    font-family: "rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}
.contacts-phone {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #444444;
}
.contacts-subtitle {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
}
.contacts-scheduke-item {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}
.contacts-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
.newsletter {
    display: flex;
    flex-wrap: wrap;
    background-color: #F0F0F0;
    width: 1440px;
}
.newsletter-title {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    width: 560px;
}
.newsletter-email {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    width: 560px;
}
.field {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    opacity: 0.5;
    width: 560px;
}
.button newsletter-button {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 260px;
}
.page-footer {
    background-color: #444444;
}
.page-footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
}
.footer-contacts-address {
    font-family: "rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}
.footer-navigation-list {
    display: flex;
    justify-content: space-between;
    width: 444px;
}
.footer-social-list {
    display: flex;
    justify-content: space-between;
    width: 120px;
}
.footer-navigation-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}
.footer-contacts-phone {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: right;
    color: #ffffff;
}
.htmlacademy-link {

}
.page-main {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}
.breadcrumbs-link {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.6;
    text-decoration: none;
    color: #000000;
}
.catalog-products {
    display: flex;
}
.catalog-left-column {
    width: 200px;
    margin-left: 200px;
    margin-right: 68px;
}
.catalog-right-column {
    width: 972px;
}
.filter {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #DCDCDC;
}
.catalog-filter-group {
    background-color: #E5E5E5;
}
.catalog-filter-title {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}
.catalog-filter-label {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    opacity: 0.3;
}
.control-label {
    font-size: 16px;
    line-height: 19px;
}
.button-catalog-filter {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.sorting-type {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
option {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.product-card-title, .product-card-link {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}
.product-card-price {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #444444;
}
.produkt-card-info {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.button, .pagination-show-more {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.pagination-prev, .pagination-next {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
.pagination-link {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #444444;
    opacity: 0.3;
}
