@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/rubik-regular.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/raleway-bold.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/rubik-bold.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/rubik-bold.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}
.container {
    width: auto;
    margin: 0 auto;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #ffffff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.page-header {
    color: #000000;
    background-color: #FFE17F; 
    width: 1160px;
    margin: 40px auto 0;
    padding: 49px 60px 167px;  
}
.header-catalog {
    padding: 49px 60px 53px;
}
.header-logo {
    display: block;
    margin-top: -75px;
}
.search {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #000000;
    background-color: #FFE17F;
    opacity: 0.3;
}
.page-heder-top {
    display: flex;
    justify-content: space-between;
    padding-top: 49px;  
}
.custom-menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    padding: 0;
    list-style-type: none;
}
.custom-menu-link {
    display: block;
    margin-left: 50px;
    font-family:"rubik", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #000000;
    background-color: #FFE17F;
    text-decoration: none;
}
.navigation-list {
    display: flex;
    justify-content: flex-end;
    padding: 44px 0 0;
    list-style-type: none;
    margin: 0;
}
.navigation-item {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}
.navigation-item:last-of-type {
    margin-right: 0;
}
.navigation-item:nth-of-type(2) {
    margin-left: auto;
}
.navigation-link {
    justify-self: end;
    font-family: "raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    color: #000000;
    background-color: #FFE17F;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.main-container {
    flex-grow: 1;
}
.page-container {
    width: 1160px;
    margin: 0 auto;
}
.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider {
    margin-top: -167px;
    position: relative;
    z-index: 1;
    margin-bottom: 263px;
}
.slider-item {
    display: none;
}
.slider-item.active {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}
.slider-image {
    width: 560px;
    height: 560px;
}
.slider-title {
    font-family: "raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}
.slider-description {
    font-family: "rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}
.slider-info {
    font-family: "raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
.slider-text-wrap {
    width: 560px;
    margin-left: 40px;
}
.slider-characteristics {
    font-size: 36px;
    line-height: 30px;
}
.slider-characteristics-wrap {
    display: flex;
}
.slider-characteristics span {
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    display: block;
    margin-right: 20px;
}
.slider-navigetion {
    display: flex;
    list-style: none;
}
.categories-link {
    font-family: "raleway", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-decoration: none;
    color: #000000;
    letter-spacing: -0.02em;
}
.categories-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
    list-style: none;
    margin-bottom: 139px;
}
.advantages {
    display: flex;
    background-color: #F0F0F0;
    margin-bottom: 90px;
}
.advantages-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin-right: 120px;
}
.advantages-content {
    display: none;
}
.advantages-content.active {
    display: block;
}
.advantages-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.advantages-title {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}
.advantages-text {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}
.thin {
    display: flex;
    align-items: center;
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #F0F0F0;
    width: 1160px;
}
.info-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding-top: 146px;
    margin-bottom: 87px;
}
.about-title {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 26px;
}
.about-text {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    height: 101px;
    margin: 0;
}
.companies {
    margin-top: 23px;
    margin-bottom: 22px;
    padding: 0;
}
.companies-name {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    list-style-type: none;
    padding-bottom: 30px;
}
.companies-name::before {
    color: #FFC700;
    content: "●";
    padding-right: 8px;
}
.about-more {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    display: block;
}
.contacts-title {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 26px;
}
.contacts-text {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 30px;
}
.contacts-address-title {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 15px;
}
.contacts-address {
    font-family: "rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}
.contacts-phone {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #444444;
    margin-bottom: 30px;
}
.contacts-subtitle {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 15px;
}
.contacts-schedule {
    margin-bottom: 67px;
    padding: 0;
}
.contacts-scheduke-item {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    list-style: none; 
}
.contacts-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    display: block;
}
.newsletter {
    background-color: #F0F0F0;
}
.newsletter-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}
.newsletter-title {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    width: 560px;
    padding-top: 75px;
    margin: 0;
}
.newsletter-text {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    width: 560px;
    margin-top: 86px;
}
.newsletter-form {
    display: flex;
}
.newsletter-form-wrap {
    display: grid;
    grid-column: 1/-1;
}
.field {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    opacity: 0.5;
    width: 560px;
}
.button, newsletter-button {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 260px;
}
.page-footer {
    background-color: #444444;
}
.page-footer-container {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
}
.footer-contacts-logo {
    padding: 62px 0 35px;
}
.footer-contacts-address {
    font-family: "rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    grid-row: 2/3; grid-column: 1/2;
    padding-bottom: 66px;
}
.footer-navigation-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    grid-row: 2/3; grid-column: 2/3;
}
.footer-social-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    grid-row: 3/4; grid-column: 2/3;
}
.footer-navigation-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}
.footer-contacts-phone {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: right;
    color: #ffffff;
    text-decoration: none;
    grid-row: 2/3; grid-column: 3/4;
}
.htmlacademy-link {
    grid-row: 3/4; grid-column: 3/4;
}
.page-catalog-container {
    min-width: 1440px;
    margin: 0 auto;
}
.page-container-catalog {
    min-width: 1440px;
    margin: 0 auto;
}
.page-main {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin: 0 200px 14px;
}
.breadcrumbs-list {
    display: flex;
    list-style: none;
    margin: 0 200px 49px;
}
.breadcrumbs-link {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.6;
    text-decoration: none;
    color: #000000;
}
.catalog-products {
    padding-top: 37px;
    margin: 0;
}
.catalog-products-wrap {
    display: grid;
    grid-template-columns: 468px 1fr;
}
.catalog-left-column {
    background-color: #E5E5E5;
}
.catalog-right-column {
    list-style: none;
}
.catalog-right-column-sorting {
    display: flex;
    align-items: center;
    padding: 25px 0 25px 72px;
    background-color: #EBEBEB;
}
.filter {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #DCDCDC;
    padding: 25px 0 25px 200px;
    
    margin: 0;
}
.catalog-filter-group {
    background-color: #E5E5E5;
    margin-left: 200px;
    margin-right: 69px;
    max-width: 200px;
}
.catalog-filter-title {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}
.catalog-filter-label {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    opacity: 0.3;
}
.control-label {
    font-size: 16px;
    line-height: 19px;
}
.button-catalog-filter {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-left: 200px;
}
.sorting-type {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #E5E5E5;
    margin: 0;
}
option {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.products-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 44px;
    list-style-type: none;
    margin-top: 69px;
    margin-left: 72px;
    padding: 0;
}
.product-card-title, .product-card-link {
    font-family: "rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}
.product-card-price {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #444444;
}
.produkt-card-info {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.product-card-price-info {
    display: flex;
}
.pagination-show-more {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 44px 0 51px 72px;
    min-width: 760px;
}
.pagination-link {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #444444;
    opacity: 0.3;
    text-transform: none;
    text-decoration: none;
}
.pagination-prev, .pagination-next {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
.pagination {
    width: 760px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    background-color: #EBEBEB;
    margin-left: 72px;
    padding: 27px 30px 24px;
}
.pagination-page {
    display: flex;
    justify-content: space-between;
    width: 145px;
    margin: 0 209px 0 157px;
}